@use '../mixins/responsive.scss' as *;
.button{
    width: 304px;
  height: 40px;  
  display: flex;
 flex-direction: column;
 justify-content: center;
 border-radius: 0.1rem;
 font-family: var(--font-title);
}
.button-primary{
    background-color: var(--color-button);
    text-align: center;
    color:white;
    font-weight: bold;
    @include responsive(desktop) {
      width: 200px;
    }
  }
  .box{
    padding-left:10px;
    color:gray;
    background-color: white;
    border: 1px black solid;
    @include responsive(desktop) {
      width: 320px;
    }
  }
  .button-email{
    @include responsive(desktop) {
    width: 480px;
  }
}
  .button-primary-large{
    @include responsive(desktop) {
      width: 200px;
      margin-right:280px;
      
    }
  }