@use '../mixins/responsive.scss' as *;
.early-access{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include responsive(desktop) {
        width: 533px;
        padding: 20px 50px;
    }
}