/* ESTILOS DEL FOOTER */
@use '../mixins/responsive.scss' as *;
.footer{
    display: flex;
    flex-direction: column;
    padding:40px;
    background-color: var(--color-footer);
    position: relative;
    bottom:100px;
    &__information{
        display: flex;
        flex-direction: column;
    }
    @include responsive(desktop) {
        width: 1440px;
        display: flex;
    flex-direction: row;
    justify-content: space-around;
}
}