@use '../mixins/responsive.scss' as *;
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 gap:15px;
@include responsive(desktop) {
    display: flex;
   flex-direction: row;
   justify-content: center;
   margin:0;
   padding-right:160px;
   }
 
}