@use '../mixins/responsive.scss' as *;
.header{
    display: flex;
    flex-direction: column;
    &__top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
