@use '../mixins/responsive.scss' as *;
@use '../mixins/pseudo.scss' as *;
.productive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:100px auto;
    background-color: rgba(248, 248, 254, 1);
    &::after{
        @include pseudo(1440px, 100px){
            top:687px;
            background-image: url(../assets/images/bg-curve-desktop.svg);
        }
     }
    @include responsive(desktop) {
        width: 1440px;
        display: grid;
       grid-template-columns: 50% 50%;
       grid-template-rows: 50% 50%;
        margin-top:150px;
        padding: 40px;
     &::after{
        @include pseudo(1440px, 100px){
            margin:0 auto;
            background-image: url(../assets/images/bg-curve-desktop.svg);
        }
     }
    }

}