:root {
  /* Variables CSS */
  --color-primary:rgba(7, 4, 59, 1);
  --color-button:rgba(47, 101, 248, 1);
  --color-secondary:rgba(97, 95, 126, 1);
  --color-box-bottom:rgba(87, 89, 136, 1);
  --color-link:rgba(61, 160, 143, 1);
  --font-title: 'Open Sans', sans-serif;
  --font-text: 'Raleway', sans-serif;
}

/* Variables SASS */
